.chat-tab__container {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  max-height: calc(100vh - 60px - 46px);
}

.chat-tab-messages {
  overflow-x: auto;
}

.chat-tab__controls {
  display: flex;
  margin-top: 8px;
}

.chat-tab__input {
  flex: 1;
  padding: 4px;
}

.chat-tab__send-btn {
  padding: 8px;
  margin-left: 4px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .chat-tab__container {
    max-height: calc(100vh - 88px - 46px);
  }
}
